.upper_text {
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: 1px rgb(0, 0, 0) solid;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.6); /* для затемнения заднего фона */
}

.black_theme {
  color: white; /* используется при наложении оверлея */
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 96px 50px;
  align-items: center;
  justify-content: center;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__links-list {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  border-bottom: 1px rgb(0, 0, 0) solid;
}

.header__link_active {
  border: none;
}

.header__logo {
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  display: grid;
  justify-items: start;
  width: 237px;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
}

.header__address {
  justify-self: end;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  width: 100%;
  margin-bottom: 179px;
  background-position: center;
  background-size: cover;
}

.cover__title {
  width: 1000px;
  font-size: 100px;
  line-height: 115px;
  font-weight: 700;
  margin: auto;
  letter-spacing: 0.3em;
  padding-top: 165px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  padding-top: 20px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing-extended {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 135px 50px 51px 78px;
  padding-bottom: 51px;
}

.cover__text-subline {
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  word-spacing: 18px;
}

.сover__button {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  padding: 12px 32px;
  border: 1px white solid;
  background: transparent;
}

.lots {
  width: 1052px;
  margin: auto;
}

.lots__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.lots__card-list-item {
  list-style: none;
  min-height: 563px;
  width: 334px;
}

.card {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card__align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  margin: 0 40px;
  margin-top: 51px;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 48px;
  margin: 0 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;
}

.about {
  width: 1052px;
  margin: auto;
  margin-top: 146px;
  margin-bottom: 180px;
}

.about__column {
  margin: auto;
  display: grid;
  grid-template-columns: auto 693px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
}

.about__information {
  margin-top: 133px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  margin-top: 3px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  margin-right: 2px;
  text-align: left;
}

.margin_paragraph {
  margin-bottom: 24px;
}

.letter-spacing {
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  margin: auto;
  padding-bottom: 88px;
  justify-content: space-between;
}

.footer__menu {
  width: 100%;
  text-align: center;
}

.footer__links-list-item {
  list-style: none;
}

.footer__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  border-bottom: 1px solid black;
}

.footer__link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
